#notes {
  overflow-y: auto;
  text-align: start;
  margin-bottom: 12%;
  padding: 1%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#auth-form {
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#note-form {
  position: fixed;
  bottom: 0;
  right: 10%;
  left: 10%;
  alignment: center;
  width: 80%;
  display: none;
  border: 2px solid black;
  padding: 1%;
}

#button-create-note {
  padding: 1%;
  margin-left: 80%;
}

.card {
  width: 18rem;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  margin: 1px;
}

.card-title {
  font-size: larger;
}